@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SansPro/SourceSansPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SansPro/SourceSansPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SansPro/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'poppins';
    src: url(../fonts/Poppin/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'poppins';
    src: url(../fonts/Poppin/Poppins-Regular.ttf);
    font-weight: 400;
}